NODE_ENV=development
DATABASE_URL=postgres://user:pass@127.0.0.1:5432/cexplorer

GENESIS_ADDRESS="addr_test..."
# cat cardano-node/example/utxo-keys/utxo1.skey (minus the first 4 chars)
GENESIS_PRIVATE_KEY="..."

# Cardano Shared .env
CARDANO_SUBMIT_API_BASE_URL="http://127.0.0.1:8191"
BLOCKFROST_BASE_URL="http://127.0.0.1:3010"
BLOCKFROST_API_KEY="NONE"
